.features {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    //display: subgrid; only currently supported by firefox 71
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6rem;
}